<link rel="stylesheet" type="text/css" href="styles/index.css">
    <div class="panel-body">
        <h3> Materia: {{listado.materia}}</h3>
        <div class="table-responsive">
			<table class="table table-striped table-bordered" ng-show="listado.dataI == 200">
			  <thead>
				<tr style="background-color: #80FFE5; font-size: 18px">
				  <th>Nombre</th>
				  <th>Apellido</th>
				  <th>Asistencia</th>
				</tr>
			  </thead>
			  <tbody>
				<tr id="{{ listado.nombreAlumno }}" ng-repeat="listado in listado | orderBy:'nombreAlumno'" style="font-size: 15px">
				  <th style="vertical-align:middle">{{listado.nombre}}</th>
				  <th style="vertical-align:middle">{{listado.apellido}}</th>
						<input type="hidden" id="{{listado.id_alumno}}"/>
				  <th style="vertical-align:middle; width: 10%">
					<select style="width:75%" class="form-control" ng-init="listado.view=listado.cod_asist" ng-model="listado.view" ng-options="falta.id as falta.name for falta in faltas" >
						<option disabled value="">Sel</option>
					</select>
				  </th>
				</tr>
			  </tbody>
			</table>
		</div>	
		<div style="text-align: center;" ng-show="listado.dataI == 200">
            <button class="btn btn-primary" ng-click="goSave()" ng-confirm-click="Está seguro que desea GUARDAR la asistencia para este curso? Una vez guardada solo podrá operar con dicho curso hasta que se realice la confirmación.">Guardar</button>
            <button class="btn btn-primary" ng-click="goConfirm()" ng-confirm-click="Está seguro que desea CONFIRMAR la asistencia para este curso?. Una vez CONFIRMADA no la podrá volver a editar.">Confirmar</button>
            <button class="btn btn-danger" ng-click="goBack()" ng-confirm-click="Volverá al listado de Materias. Seguro?">Cancelar</button>
		</div>
		<div style="text-align: center;" ng-hide="listado.dataI == 200">
			<button class="btn btn-danger" ng-click="goBack()">Regresar</button>
		</div>
		<h5 style="text-align:center;">&copy 2017 - Asistencia</h5>
    </div>